api=yes
api-key={{ pdns_api_key }}
webserver=yes
webserver-address={{ pdns_web_address }}
webserver-port=8081
webserver-allow-from={{ pdns_web_allow }}
webserver-password={{ pdns_web_key }}
local-port=53
local-address={{ pdns_dns_address }}
include-dir=/etc/powerdns/pdns.d
launch=gpgsql
config-dir=/etc/powerdns
default-soa-edit=inception-increment
default-ttl={{ pdns_default_ttl }}
default-soa-content={{ pdns_default_soa }}
query-cache-ttl={{ pdns_query_cache }}
{% if enable_dnsupdate -%}
dnsupdate=yes
allow-dnsupdate-from=
{% endif -%}
