{% for host in groups['nodes'] %}
Host {{ hostvars[host].ansible_hostname }}
  User root
  HostName {{ hostvars[host].consul_listen_ip }}
  Port {{ hostvars[host].ssh_port }}
{{ '' }}
{% endfor %}

{% for host in groups['backup_server'] %}
Host {{ hostvars[host].ansible_hostname }}
  User root
  HostName {{ hostvars[host].controller_ip }}
  Port {{ hostvars[host].ssh_port }}
{{ '' }}
{% endfor %}

{% for host in groups['prom_instance'] %}
{% if not hostvars[host].on_controller %}
Host {{ hostvars[host].ansible_hostname }}
  User root
  HostName {{ hostvars[host].controller_endpoint }}
  Port {{ hostvars[host].ssh_port }}
{{ '' }}
{% endif %}
{% endfor %}

Host *
  ServerAliveInterval 60
  TCPKeepAlive no
{{ '' }}