[defaults]
inventory = inventories/example
roles_path = roles:galaxy_roles
collections_path = ./collections
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
forks = 20
stdout_callback = ansible.builtin.default
callback_result_format = yaml

[inventory]
enable_plugins = ansible.builtin.yaml, ansible.builtin.constructed

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new -o ConnectionAttempts=5
