# {{ ansible_managed }}
# docker --env-file: KEY=value, no quoting, no expansion.
LOKI_URL={{ node_observability_loki_endpoint }}
LOKI_USERNAME={{ node_observability_loki_username }}
LOKI_PASSWORD={{ node_observability_loki_password }}
