[Unit]
Description=cadvisor
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker kill cadvisor 2>/dev/null'
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker rm cadvisor 2>/dev/null'

ExecStart=/usr/bin/env docker run --rm --name cadvisor \
      --log-driver=none \
      --network=host \
      --privileged \
      -v /:/rootfs:ro \
      -v /var/run:/var/run:ro \
      -v /sys:/sys:ro \
      -v /var/lib/docker/:/var/lib/docker:ro \
      -v /dev/disk/:/dev/disk:ro \
      -v /etc/machine-id:/etc/machine-id:ro \
      -v /cgroup:/cgroup:ro \
      {{ cadvisor_full_image }}

ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker kill cadvisor 2>/dev/null'
ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker rm cadvisor 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=cadvisor

[Install]
WantedBy=multi-user.target
WantedBy=docker.service
