{% macro initial_cluster() -%}
{% for host in groups['nodes'] -%}
  {{ hostvars[host]['ansible_hostname'] }}=https://{{ hostvars[host].etcd_listen_ip }}:2380
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}
ETCD_ENABLE_V2=true
ETCD_NAME={{ ansible_hostname }}
ETCD_DATA_DIR={{ etcd_data_dir }}/default
ETCD_PROXY="off"
ETCD_HEARTBEAT_INTERVAL=6000
ETCD_ELECTION_TIMEOUT=30000

ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ etcd_listen_ip }}:2380"
ETCD_INITIAL_CLUSTER={{ initial_cluster() }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_initial_cluster_state }}
{% if etcd_initial_cluster_token != "" %}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
{% endif %}

ETCD_LISTEN_PEER_URLS="https://{{ etcd_listen_ip }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ etcd_listen_ip }}:2379"
ETCD_LISTEN_CLIENT_URLS="https://{{ etcd_listen_ip }}:2379"

ETCD_TRUSTED_CA_FILE={{ etcd_ca_file }}
ETCD_CERT_FILE={{ etcd_cert_file }}
ETCD_KEY_FILE={{ etcd_key_file }}
ETCD_CLIENT_CERT_AUTH=true

ETCD_PEER_TRUSTED_CA_FILE={{ etcd_ca_file }}
ETCD_PEER_CERT_FILE={{ etcd_cert_file }}
ETCD_PEER_KEY_FILE={{ etcd_key_file }}
ETCD_PEER_CLIENT_CERT_AUTH=true
