{{ ansible_managed | comment }}
[Unit]
Description=Renew ACME certificates with acme.sh
After=network-online.target nginx.service
Wants=network-online.target
Requires=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash {{ acme_web_executable }} --home {{ acme_web_current_link }} --config-home {{ acme_web_config_home }} --cron

# acme.sh exits 2 when nothing was due for renewal.
SuccessExitStatus=0 2
