[Unit]
Description=Renew Let's Encrypt certificates using acme.sh
After=network-online.target
Requires=nginx.service
After=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /root/.acme.sh/acme.sh --cron --home "/root/.acme.sh"

SuccessExitStatus=0 2
