[Unit]
Description=Nginx
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker kill nginx 2>/dev/null'
ExecStartPre=-/usr/bin/env sh -c '/usr/bin/env docker rm nginx 2>/dev/null'

ExecStart=/usr/bin/env docker run --rm --name nginx \
      --log-driver=none \
      --privileged \
      --network=host \
      -v /etc/nginx/nginx.conf:/etc/nginx/nginx.conf:z \
      -v {{ nginx_acme_path }}:{{ nginx_acme_path }}:z \
      -v /etc/nginx/dhparam:/etc/nginx/dhparam:z \
      -v /etc/nginx/common:/etc/nginx/common:z \
      -v /etc/nginx/ssl:/etc/nginx/ssl:z \
      -v /etc/nginx/error_pages:/etc/nginx/error_pages:z \
      -v /etc/nginx/passwords:/etc/nginx/passwords:z \
      -v /etc/nginx/conf.d:/etc/nginx/conf.d:z \
      -v /etc/nginx/html:/etc/nginx/html:z \
      {{ nginx_full_image }}

ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker kill nginx 2>/dev/null'
ExecStop=-/usr/bin/env sh -c '/usr/bin/env docker rm nginx 2>/dev/null'
ExecReload=/usr/bin/env sh -c '/usr/bin/env docker kill -s HUP nginx 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=nginx

[Install]
WantedBy=multi-user.target
WantedBy=docker.service
