upstream prometheus {
  server localhost:9090;
  keepalive 15;
}

server {
  listen {{ prometheus_nginx_listen }};

  auth_basic "prometheus auth";
  auth_basic_user_file /etc/nginx/passwords/prom.htpasswd;

  location / {
    proxy_read_timeout 1800s;
    proxy_connect_timeout 1600s;
    proxy_pass http://prometheus;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
    proxy_redirect off;
  }
}

upstream alertmanager {
  server localhost:9093;
  keepalive 15;
}

server {
  listen {{ alertmanager_nginx_listen }};

  auth_basic "prometheus auth";
  auth_basic_user_file /etc/nginx/passwords/prom.htpasswd;

  location / {
    proxy_read_timeout 1800s;
    proxy_connect_timeout 1600s;
    proxy_pass http://alertmanager;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
    proxy_redirect off;
  }
}
