---
computestacks:
  host: "https://{{ cs_portal_domain }}"
consul:
  host: "{{ consul_listen_ip }}:{{ consul_listen_port }}"
  tls: true
  token: "{{ consul_token }}"
backups:
  enabled: {{ backups_enabled | lower }}
  check_freq: "{{ backups_check_freq }}"
  prune_freq: "{{ backups_prune_freq }}"
  key: "{{ backups_key }}"
  borg:
    compress: "zstd,3"
    image: "{{ agent_image }}"
    nfs: {{ backup_uses_nfs }}
    nfs_host: {{ backup_nfs_host }}
    nfs_host_path: "{{ nfs_host_path }}"
    nfs_opts: "{{ backup_nfs_opts }}" # Ensure you include the `,`! `rw,nfsvers=4` is already included
    nfs_create_path: {{ backup_nfs_create_path }} # Create paths on backup server prior to mounting volume.
    nfs_ssh:
      user: "{{ backup_nfs_ssh_user }}" # SSH key used to connect to NFS server
      port: "{{ backup_nfs_ssh_port }}"
      keyfile: "{{ backup_nfs_ssh_keyfile }}" # SSH key used to connect to NFS server
    fs:
      user: nobody
      group: nogroup
docker:
  version: "{{ docker_api_version }}"
