---
computestacks:
  host: "https://{{ cs_portal_domain }}"
consul:
  host: "{{ consul_listen_ip }}:{{ consul_listen_port }}"
  tls: true
backups:
  enabled: {{ backups_enabled | lower }}
  check_freq: "{{ backups_check_freq }}"
  prune_freq: "{{ backups_prune_freq }}"
  key: "{{ backups_key }}"
  borg:
    compress: "zstd,3"
    image: "{{ agent_image }}"
    nfs: {{ backup_uses_nfs }}
    nfs_host: {{ backup_nfs_host }}
    nfs_host_path: "{{ nfs_host_path }}"
docker:
  version: "{{ docker_api_version }}"
