[Unit]
Description="ComputeStacks Agent"
Documentation=https://computestacks.com
Requires=docker.service
After=docker.service
Requires=consul.service
After=consul.service
ConditionFileNotEmpty={{ agent_config_path }}/agent.yml

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/cs-agent
KillMode=process
Restart=on-failure
LimitNOFILE={{ agent_service_fsfilelimit }}

[Install]
WantedBy=multi-user.target
