#! /bin/bash

iptables -A INPUT -i lo -j ACCEPT
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A INPUT -p tcp --dport 80 -j ACCEPT
iptables -A INPUT -p tcp --dport 443 -j ACCEPT
iptables -A INPUT -p tcp --dport {{ usable_port_range }} -j ACCEPT
iptables -A INPUT -p udp --dport {{ usable_port_range }} -j ACCEPT

{% for host in groups['controller'] %}
iptables -A INPUT -p all -s {{ hostvars[host].node_ip }} -j ACCEPT
{{ '' }}
{% endfor %}
{% for host in groups['prom_instance'] %}
{%- if not hostvars[host].on_controller -%}
iptables -A INPUT -p all -s {{ hostvars[host].node_ip }} -j ACCEPT
{{ '' }}
{%- endif -%}
{% endfor %}
{% for host in groups['nodes'] %}
iptables -A INPUT -p all -s {{ hostvars[host].consul_listen_ip }} -j ACCEPT
{{ '' }}
{% endfor %}

iptables -P INPUT DROP