{{ '' }}
   ______                            __      _____ __             __       
  / ____/___  ____ ___  ____  __  __/ /____ / ___// /_____ ______/ /_______
 / /   / __ \/ __ `__ \/ __ \/ / / / __/ _ \\__ \/ __/ __ `/ ___/ //_/ ___/
/ /___/ /_/ / / / / / / /_/ / /_/ / /_/  __/__/ / /_/ /_/ / /__/ ,< (__  ) 
\____/\____/_/ /_/ /_/ .___/\__,_/\__/\___/____/\__/\__,_/\___/_/|_/____/  
                    /_/                                                    

{{ '' }}
{% for item in motd_info %}
{% for key, value in item.items() %}
{{ key }}{{ value }}
{% endfor %}
{% endfor %}

{{ '' }}
