apiVersion: v1
kind: calicoApiConfig
metadata:
spec:
  datastoreType: "etcdv2"
  etcdEndpoints: https://{{ etcd_listen_ip }}:2379
  etcdKeyFile: "{{ etcd_client_key_file }}"
  etcdCertFile: "{{ etcd_client_cert_file }}"
  etcdCACertFile: "{{ etcd_ca_file }}"

