IP={{ etcd_listen_ip }}
ETCD_ENDPOINTS=https://{{ etcd_listen_ip }}:2379
ETCD_CA_CERT_FILE={{ etcd_ca_file }}
ETCD_KEY_FILE={{ etcd_client_key_file }}
ETCD_CERT_FILE={{ etcd_client_cert_file }}
NODENAME={{ hostvars[inventory_hostname].ansible_hostname }}
CALICO_NETWORKING_BACKEND=bird
CALICO_LIBNETWORK_LABEL_ENDPOINTS=true
